/* VARIABLES & RESETS */
:root{
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-lightgrey: #e7e7e7;
    --color-grey: #adadad;
    --color-darkgrey: #c7bebe;
    --color-blue: #3282f7;
    --color-green: #68d9a4;
    --color-red: #ed6454;
  
    --fs-xl: 3rem;
    --fs-l: 2rem;
    --fs-m: 1rem;
    --fs-s: .75rem;
    --fs-xs: .5rem;
  
    --fw-bold: 700;
    --fw-normal: 400;
    --fw-light: 300;

    --br-default: .15rem
}
  
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

*:focus{
    outline: none
}

button{
    cursor: pointer;
}

/* HELPER CLASSES */
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}


/* STYLE DECLARATIONS */
body{
    padding: 0 2rem;
}

header{
    display: flex;
    justify-content: center;
}

header a img{
    margin: 1rem 0;
    width: 20em;
}

.search-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
}

.search-wrapper form{
    width: 100%;
}

.search-wrapper input{
    display: block;
    width: 100%;
    background: var(--color-lightgrey);
    color:var(--color-grey);
    border-radius: var(--br-default);
    border: none;
    padding: 1rem;
}

.search-wrapper button{
    background: none;
    position: absolute;
    top: 0.6rem;
    right: .5rem;
    border: none;
}

.searchtags-wrapper{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem 0;
}

.searchtags-wrapper div{
    display: flex;
    align-items: center;
    flex-direction: row;
    color: var(--color-white);
    border-radius: var(--br-default);
    border: none;
    text-decoration: none;
    padding: .5rem 1rem;
}

.searchtags-wrapper div span{
    padding: 0 .5rem 0 0;
    font-size: var(--fs-s);
}

.searchtags-wrapper div svg{
    fill: var(--color-white);
    margin-left: auto;
    width: 1rem;
    height: 1rem;
}

.searchfilters-wrapper{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.searchfilter{
    position: relative;
    z-index: 2;
    width: max-content;
    display: flex;
    flex-direction: column;
    border-radius: var(--br-default);
    border: none;
    text-decoration: none;
    padding: 1rem;
    height: max-content;
}

.ingredients{
    background: var(--color-blue);
}

.devices{
    background: var(--color-green);
}

.utensils{
    background: var(--color-red);
}

.searchfilter-actions{
    display: flex;
    flex-direction: row; 
}  

.searchfilter-actions input{
    background: transparent;
    color: var(--color-white);
    border: none;
    flex-grow: 1;
}

.searchfilter-actions button{
    background: transparent;
    color: var(--color-white);
    border: none;
}

.searchfilter-actions button svg{
    fill: var(--color-white);
    width: 1rem;
    height: 1rem;
    margin-left: auto;
}

.searchfilter-contents{
    display: none;
    padding: 1rem;
    border-radius: 0 .25rem .25rem .25rem;
}

.searchfilter-contents ul{
    width: 29.5em;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.searchfilter-contents ul li{
    list-style-type: none;
}

.searchfilter-contents ul li a{
    color: var(--color-white);
    text-decoration: none;
    font-size: var(--fs-s);
}

.expanded{
    display: block;
}

main{
    position: absolute;
    top: 20.5em;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 0 2rem;
}

article figure{
    width: 100%;
    margin: 0;
    background: var(--color-grey);
    height: 10rem;
    border-radius: .25rem .25rem 0 0;
}

.recipe-content{
    background: var(--color-lightgrey);
    padding: 1rem;
}

.recipe-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recipe-header h2{
    font-size: var(--fs-m);
}

.recipe-header aside{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    gap: .25rem;
}

.recipe-header aside svg{
    width: 1rem;
}

.recipe-meta{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 1rem 0;
    gap: 1rem;
}

.recipe-ingredients{
    flex: 1;
}

.recipe-ingredients ul li{
    list-style-type: none;
    font-size: var(--fs-s);
    font-weight: var(--fw-bold);
    padding: .125rem 0;
}

.quantity{
    font-weight: var(--fw-normal);
}

.recipe-instructions{
    flex: 1;
}

.recipe-instructions p{
    font-size: var(--fs-s);
    line-height: 150%;
}

.recipe-hidden,
.element-hidden{
    display: none;
}

